<div class="header">
    <div class="header__left d__inline-block">
        <div class="header__left-logo d__inline-block">
            <img src="assets/images/Dashboard_Covid19_logo.png" alt="logo">
        </div>
    </div>
    <div class="header__right d__inline-block">
        <div class="header__right-create d__inline-block">
            <a class="create-user" (click)="addUser()">Create New User</a>
        </div>
        <div class="header__right-user d__inline-block">
            <div class="name-type d__inline-block">
                <div class="name">Indranil Paul</div>
                <div class="type">Admin</div>
            </div>            
            <div class="photo d__inline-block">
                <mat-icon class="icon">account_circle</mat-icon>
            </div>
        </div>
    </div>
</div>
