<div class="popup" *ngIf="show" (click)="hidePopup($event)">    
    <div class="popup__content">
        <a (click)="hidePopup($event)" class="popup__content__close"><mat-icon>close</mat-icon></a> 
        <p class="popup__content-title">What kind of a user you want to create?</p>
        <div class="popup__content__buttons">
            <div class="popup__content__buttons-box" (click)="createQuarantineMan()">
                <p>Create a Quarantine Manager</p>
            </div>
            <div class="popup__content__buttons-box"  (click)="createMonitor()">
                <p>Create a Monitor</p>
            </div>
        </div>
    </div>
</div>
