<div class="monitor">
    <div class="monitor__content __row">
        <div class="monitor__content-photo __col">
            <mat-icon class="icon">account_circle</mat-icon>
        </div>
        <div class="monitor__content-details __col">
            <h2 class="text-top">Lokesh Ravi - ID: 543535435</h2>
            <h2 class="text-bottom">
                <mat-icon> local_phone</mat-icon>8798765678 &nbsp;
                &nbsp;<mat-icon> email</mat-icon>lokeshravi01@gmail.com
            </h2>
        </div>
    </div>
</div>
