@import "variables";
.view_user {
  margin: $header-height-main $no-margin-padding $no-margin-padding;
  padding: 2.5rem;
  font-family: 'Segoe_UI', sans-serif;

  ::ng-deep .mat-tab-header {
    width: auto;
    margin: 0 auto;
  }
  ::ng-deep .mat-tab-header-pagination {
    display: none;
  }
  ::ng-deep .mat-tab-label {
    border: 1px solid $border-color-grey-light;
    color: $color-grey-dark;
    font-size: 16px;
    opacity: 1;
  }
  ::ng-deep .mat-tab-label-active {
    border: 1px solid $color-grey-dark;
    background-color: $color-grey-dark;
    color: $color-white;
  }
  ::ng-deep .mat-ink-bar {
    display: none;
  }
}
