<header></header>
<img class="background_image_circle" src="./assets/images/admin_create_new_user_bg.png">
<div class="add_user" fxFLex="100">
    <div class="add_user__section" fxFLex="100" fxLayout="column" fxLayoutGap="20px">
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" class="z_index">
            <div class="add_user__section_title">Please fill the following details to create Quarantine Manager or Monitor</div>
            <div class="add_user__section_mandatory">*Mandatory fields</div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" class="z_index">
            <mat-label class="mat-label">User Type</mat-label>
            <mat-radio-group aria-label="Profile Type" fxLayoutGap="30px" [(ngModel)]='userType' (change)="changeUser($event)" name="userType" [disabled]="isEdit">
                <mat-radio-button value="quarantine_manager" checked="true">Quarantine Manager</mat-radio-button>
                <mat-radio-button value="monitor">Monitor</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="add_user__section_form z_index" fxFlex="100" fxLayout="column" fxLayoutAlign="start center">
            <form [formGroup]="userRegisterForm"  fxLayout="column" fxLayoutGap="20px" fxFlex="100" fxLayoutAlign="start center">
                <div class="add_user__section_title bold width_100 margin_bottom_20">Personal Details</div>
                <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="30">
                        <div class="labels">First Name<span class="color_red">*</span></div>
                        <input formControlName="firstName" matInput>
                        <mat-error *ngIf="userRegisterForm.controls.firstName.errors?.required
                        || userRegisterForm.controls.firstName.errors?.whitespace
                        || userRegisterForm.controls.firstName.errors?.pattern
                        || userRegisterForm.controls.firstName.errors?.minlength
                        || userRegisterForm.controls.firstName.errors?.maxlength">
                            First Name is required, should be alphabets (max 30 characters)</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="30">
                        <div class="labels">Last Name<span class="color_red">*</span></div>
                        <input formControlName="lastName" matInput>
                        <mat-error *ngIf="userRegisterForm.controls.lastName.errors?.required
                        || userRegisterForm.controls.lastName.errors?.whitespace
                        || userRegisterForm.controls.lastName.errors?.pattern
                        || userRegisterForm.controls.lastName.errors?.minlength
                        || userRegisterForm.controls.lastName.errors?.maxlength">
                            Last Name is required, should be alphabets (max 30 characters)</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="30">
                        <div class="labels margin_align">Contact Number<span class="color_red">*</span></div>
                        <span matPrefix>+91</span>
                        <input formControlName="mobileNumber" matInput>
                        <mat-error *ngIf="userRegisterForm.controls.mobileNumber.errors?.required">
                            Contact Number is required</mat-error>
                        <mat-error *ngIf="userRegisterForm.controls.mobileNumber.errors?.pattern">
                            Contact Number should be number & 10 characters long</mat-error>
                    </mat-form-field>
                </div>
                <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="30">
                        <div class="labels">Email ID<span class="color_red">*</span></div>
                        <input formControlName="email" matInput>
                        <mat-error *ngIf="userRegisterForm.controls.email.errors?.required">
                            Email is required</mat-error>
                        <mat-error *ngIf="userRegisterForm.controls.email.errors?.pattern">
                            Email address is not valid</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="30">
                        <div class="labels">Designation<span class="color_red">*</span></div>
                        <input formControlName="designation" matInput>
                        <mat-error *ngIf="userRegisterForm.controls.designation.errors?.required
                        || userRegisterForm.controls.designation.errors?.whitespace
                        || userRegisterForm.controls.designation.errors?.pattern
                        || userRegisterForm.controls.designation.errors?.minlength
                        || userRegisterForm.controls.designation.errors?.maxlength">
                            Designation is required, should be alphabets (max 30 characters)</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="30">
                        <div class="labels">Department<span class="color_red">*</span></div>
                        <input formControlName="department" matInput>
                        <mat-error *ngIf="userRegisterForm.controls.department.errors?.required
                        || userRegisterForm.controls.department.errors?.whitespace
                        || userRegisterForm.controls.department.errors?.pattern
                        || userRegisterForm.controls.department.errors?.minlength
                        || userRegisterForm.controls.department.errors?.maxlength">
                            Department is required, should be alphabets (max 30 characters)</mat-error>
                    </mat-form-field>
                </div>
                <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="30">
                        <div class="labels">Zone<span class="color_red">*</span></div>
                        <input formControlName="zone" matInput>
                        <mat-error *ngIf="userRegisterForm.controls.zone.errors?.required
                        || userRegisterForm.controls.zone.errors?.whitespace
                        || userRegisterForm.controls.zone.errors?.pattern
                        || userRegisterForm.controls.zone.errors?.minlength
                        || userRegisterForm.controls.zone.errors?.maxlength">
                            Zone is required (max 30 characters)</mat-error>
                    </mat-form-field>
                    <div fxFlex="30" fxLayout="column">
                        <mat-form-field appearance="outline" fxFlex="30">
                            <div class="labels">Govt. ID Type<span class="color_red">*</span></div>
                            <mat-select formControlName="governmentIdType" [disabled]="isEdit">
                                <mat-option value="">Select ID type</mat-option>
                                <mat-option *ngFor="let idType of governmentIdTypes" [value]="idType">{{idType}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="userRegisterForm.controls.governmentIdType.errors?.required || userRegisterForm.controls.governmentIdType.errors?.whitespace">
                                Government ID is required</mat-error>
                        </mat-form-field>
                        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
                            <div *ngIf="!isEdit" class="upload_file_name" fxFlex="50">{{userRegisterForm.get("governmentIdImageName").value ? userRegisterForm.get("governmentIdImageName").value : 'Upload Govt. ID'}}<span class="color_red">*</span></div>
                            <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
                            <button *ngIf="!isEdit" class="upload_button" type="button" mat-raised-button (click)="fileInput.click($event)">Browse</button>
                        </div>
                    </div>
                    <div fxFlex="30"></div>
                </div>
                <div class="add_user__section_title bold width_100 margin_bottom_20">Address</div>
                <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="30">
                        <div class="labels">House Number</div>
                        <input formControlName="houseNumber" matInput>
                        <!-- <mat-error *ngIf="userRegisterForm.controls.houseNumber.errors?.required">
                            House Number is required</mat-error> -->
                        <mat-error *ngIf="userRegisterForm.controls.houseNumber.errors?.minlength || userRegisterForm.controls.houseNumber.errors?.maxlength">
                            House Number should be 1 to 30 characters long</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="30">
                        <div class="labels">Street Name</div>
                        <input formControlName="street" matInput>
                        <!-- <mat-error *ngIf="userRegisterForm.controls.street.errors?.required">
                            Street Name is required</mat-error> -->
                        <mat-error *ngIf="userRegisterForm.controls.street.errors?.minlength || userRegisterForm.controls.street.errors?.maxlength">
                            Street Name should be 1 to 100 characters long</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="30">
                        <div class="labels">Area</div>
                        <input formControlName="area" matInput>
                        <!-- <mat-error *ngIf="userRegisterForm.controls.area.errors?.required">
                            Area is required</mat-error> -->
                        <mat-error *ngIf="userRegisterForm.controls.area.errors?.minlength || userRegisterForm.controls.area.errors?.maxlength">
                            Area should be 1 to 100 characters long</mat-error>
                    </mat-form-field>
                </div>
                <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="30">
                        <div class="labels">City</div>
                        <input formControlName="city" matInput>
                        <mat-error *ngIf="userRegisterForm.controls.city.errors?.pattern
                            || userRegisterForm.controls.city.errors?.minlength
                            || userRegisterForm.controls.city.errors?.maxlength">
                            City should be alphabets (max 30 characters)</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="30">
                        <div class="labels">State</div>
                        <input formControlName="state" matInput>
                        <mat-error *ngIf="userRegisterForm.controls.state.errors?.pattern
                            || userRegisterForm.controls.state.errors?.minlength
                            || userRegisterForm.controls.state.errors?.maxlength">
                            State should be alphabets (max 30 characters)</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="30">
                        <div class="labels">Pin code<span class="color_red">*</span></div>
                        <input formControlName="pincode" matInput>
                        <mat-error *ngIf="userRegisterForm.controls.pincode.errors?.required
                        || userRegisterForm.controls.pincode.errors?.whitespace
                        || userRegisterForm.controls.pincode.errors?.pattern
                        || userRegisterForm.controls.pincode.errors?.minlength
                        || userRegisterForm.controls.pincode.errors?.maxlength">
                            Pin code is required, should be numbers and 6 characters long</mat-error>
                    </mat-form-field>
                </div>
                <div class="add_user__section_title bold width_100 margin_bottom_20">Credentials</div>
                <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="30">
                        <div class="labels">User Name<span class="color_red">*</span></div>
                        <input formControlName="loginName" matInput>
                        <mat-error *ngIf="userRegisterForm.controls.loginName.errors?.required || userRegisterForm.controls.loginName.errors?.whitespace">
                            User Name is required</mat-error>
                        <mat-error *ngIf="userRegisterForm.controls.loginName.errors?.minlength || userRegisterForm.controls.loginName.errors?.maxlength">
                            User Name should be 5 to 30 characters long</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="30">
                        <div class="labels">Password<span class="color_red">*</span></div>
                        <input class="pass" formControlName="password" [type]="inputType" matInput>
                        <span (click)="showPass()" class="eye"><mat-icon>remove_red_eye</mat-icon></span>
                        <mat-error *ngIf="userRegisterForm.controls.password.errors?.required || userRegisterForm.controls.password.errors?.whitespace">
                            Password is required</mat-error>
                        <mat-error *ngIf="userRegisterForm.controls.password.errors?.minlength || userRegisterForm.controls.password.errors?.maxlength">
                            Password should be 5 to 30 characters long</mat-error>
                    </mat-form-field>
                    <div fxFlex="30"></div>
                </div>
                <div class="width_100" fxLayout="row" fxLayoutAlign="end center" fxFlex="100">
                    <button mat-raised-button  (click)="registerUser()" [ngClass]="{'disabled' : !userRegisterForm.valid}" type="button">{{isEdit ? 'Update details' : 'Save details'}}</button>
                </div> 
            </form>
        </div>
    </div>
</div>
<popup [show]="showPopup" [closeBtn]="false">
    <div class="popup-content">
        <p>{{popupMessage}}</p>
        <a class="popup-content__button" (click)="popupDone()">Done</a>
    </div>
</popup>