@import "variables";
.add_user {
    margin: $header-height-main $no-margin-padding $no-margin-padding;
    padding: $page-default-padding;
    font-family: 'Segoe_UI', sans-serif;
    color: $color-grey-dark;

    .add_user__section_title {
        font-size: 16px;
    }
    .add_user__section_mandatory {
        color: $color-red;
    }
    .margin_bottom_20 {
        margin-bottom: 40px !important;
    }
    .mat-radio-group, .mat-label {
        font-size: 14px;
    }
    ::ng-deep .mat-radio-checked .mat-radio-outer-circle {
        border-color: $color-blue;
    }
    ::ng-deep .mat-radio-inner-circle {
        background-color: $color-blue;
    }
    ::ng-deep .mat-radio-outer-circle {
        border-color: $color-grey-dark;
    }
    .mat-form-field {
        font-size: 14px;
    }
    ::ng-deep .mat-form-field-prefix {
        background: $color-grey-dark;
        color: $color-white;
        height: 100%;
        padding: 1.2rem;
        top: 2px;
        opacity: 1;
        right: 1rem;
    }
    ::ng-deep .mat-form-field-outline {
        color: $border-color-grey-light;
    }
    .mat-input-element {
        caret-color: #777777;
        color: #777777;
    }
    ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
        color: #777777 !important;
    }
    ::ng-deep .mat-form-field-outline-start, ::ng-deep .mat-form-field-outline-end {
        border-radius: 0px;
    }
    ::ng-deep .mat-form-field-infix {
        border-top: 0em solid transparent;
    }
    .add_user__section_form {
        form {
            width: 100%;
        }
        .labels {
            position: absolute;
            top: -15px;
            color: $color-grey-dark;
            left: -10px;
            font-size: 12px;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;

            &.margin_align {
                left: -5.9rem;
            }
        }
        .upload_file_name {
            font-size: 12px;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .upload_button {
            line-height: 2.5rem;
            font-size: 1.3rem;
        }
        .pass{
            padding-right: 2.3rem;
        }
        .eye{
            position: absolute;
            top: 11px;
            margin-left: -2rem;
            color: $color-grey-dark;
            cursor: default;
        }
    }
    button{
        background: transparent linear-gradient(180deg, #4485FD 0%, #22437F 100%) 0% 0% no-repeat padding-box;
        color: $color-white;
        padding: 0 2rem;
        font-size: 1.6rem;
        font-weight: 100;
    }
    button.disabled {
        opacity: 0.5;
        // width: 12.8rem;
        pointer-events: none;
    }
}

.popup-content{
    position: relative;
    width: 25rem;
    font-size: 1.6rem;
    color: $color-grey-dark;
    font-weight: 200;
    text-align: center;
    &__button{
        background: transparent linear-gradient(180deg, #4485FD 0%, #22437F 100%) 0% 0% no-repeat padding-box;
        border-radius: .5rem;
        padding: .6rem 3rem;
        color: $color-white;
        font-size: 1.2rem;
        margin-top: 3rem;
        display: inline-block;
        cursor: pointer;
    }
}