<div class="patient_list" fxFlex="100" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
  <div class="patient_list_desc" *ngFor="let list of patientDetails" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
    <img src="./assets/images/user_circle.svg">
    <div class="patient_name" fxFlex="20">{{list.name}}</div>
    <div class="patient_name" fxFlex="20">{{list.id}}</div>
    <div class="patient_period" fxFlex="20"><b>{{list.period}}</b> in Quarantine</div>
    <div class="patient_period" fxFlex="20">{{list.zone}}</div>
    <div class="patient_symptoms" fxFlex="20">
      <div class="symptoms" fxLayout="column" *ngFor="let symptoms of list.symptoms">{{symptoms}}</div>
    </div>
  </div>
  <app-no-data-available class="width_100" *ngIf="!patientDetails"></app-no-data-available>
</div>
