<div class="login" fxFlex="100" fxLayout="row" fxLayoutAlign="center start">
  <div class="login_section" fxLayoutAlign="center center" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="60" fxLayout="column">
    <div class="container_header" fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
      <div class="container_title">Login</div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="column" fxFlex="100" fxLayoutGap="20px" class="container_form">
      <form [formGroup]="loginForm" fxLayout="column" fxLayoutGap="20px" autocomplete = "off">
        <div fxLayout="column wrap" fxLayoutGap="20px">
          <mat-form-field fxFlex="100">
            <input formControlName="email" matInput placeholder="Email">
            <mat-error *ngIf="loginForm.controls.email.errors?.required">
              Email is required</mat-error>
            <mat-error *ngIf="loginForm.controls.email.errors?.pattern">
              Email address is not valid</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <input formControlName="password" type="password" matInput placeholder="Password">
            <mat-error *ngIf="loginForm.controls.password.errors?.required">
              Password is required</mat-error>
            <mat-error *ngIf="loginForm.controls.password.errors?.pattern">
              Password length should be between 5 to 20 characters and should contain atleast 3 digits (number, characters, special characters allowed: @$.!%*_#?&)</mat-error>
          </mat-form-field>
        </div>
      </form>
    </div>
    <div class="container_button">
      <button mat-raised-button (click)="onLogIn()" [ngClass]="{'disabled' : !loginForm.valid}" type="submit">Log In</button>
    </div>
  </div>
</div>
  