@import "variables";
.login {
    height: 100%;
    display: flex;
    text-align: center;
    .login__left_section{
        width: 40%;
        color: $color-white;

        .left_section__background_image {
            position: absolute;
            width: inherit;
            left: 0;
            top: 0;
            height: 100%;
        }

        .left_section_header {
            display: block;
            position: relative;

            .left_section_header__image_1 {
                width: 100%;
                margin-bottom: 3rem;
                img {
                    width: 10rem;
                }
            }
            .left_section_header__image_2 {
                width: 100%;
                img {
                    width: 30rem;
                }
            }
        }
        .copyright_section {
            color: #fff;
            position: absolute;
            bottom: 1rem;
            text-align: center;
            left: 1rem;
            opacity: 0.5;
        }
    }
    .login__right_section{
        width: calc(60% - 10rem);
        padding: 10rem 5rem;

        .tech_logo {
            position: fixed;
            top: 2rem;
            width: 18rem;
            right: 2rem;
        }
        .right_section__form {
            padding: 5rem;
            width: 60%;
            margin: 0 auto;
            clear: both;
            color: $color-grey-dark;           
        }
        .mat-radio-group {
            text-align: left;
            font-size: 12px;
            margin-bottom: 30px !important;
        }
        ::ng-deep .mat-radio-checked .mat-radio-outer-circle {
            border-color: $color-blue;
        }
        ::ng-deep .mat-radio-inner-circle {
            background-color: $color-blue;
        }
        ::ng-deep .mat-radio-outer-circle {
            border-color: $color-grey-dark;
        }
        .mat-form-field {
            font-size: 14px;
        }
        ::ng-deep .mat-form-field-outline {
            color: $border-color-grey-light;
            box-shadow: 0px 1px 20px #0000001A;
        }
        ::ng-deep .mat-form-field-outline-start, ::ng-deep .mat-form-field-outline-gap, ::ng-deep .mat-form-field-outline-end {
            border: 0px;
        }
        .mat-input-element {
            caret-color: $color-grey-dark !important;
            color: $color-grey-dark !important;
        }
        ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
            color: $color-grey-dark !important;
        }
        button{
            background: transparent linear-gradient(180deg, #4485FD 0%, #22437F 100%) 0% 0% no-repeat padding-box;
            // border: .2rem solid $button-color-grey;
            color: $color-white;
            padding: 0 2rem;
            font-size: 1.6rem;
            font-weight: 100;
        }
        button.disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }
}

.loginError{
    color: $color-red;
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-align: left;
}