<div class="login">
  <div class="login__left_section">
    <img class="left_section__background_image" src="./assets/images/login_bg.png">
    <div class="left_section_header">
      <div class="left_section_header__image_1">
        <img src="./assets/images/icon_C.png">
      </div>
      <div class="left_section_header__image_2">
        <img src="./assets/images/Covid19_loginscreenlogo.png">
      </div>
    </div>
    <div class="copyright_section">
      <div>Copyright © Tech Mahindra Limited.</div>
      <div>All Rights Reserved</div>
    </div>
  </div>
  <div class="login__right_section">
    <form class="right_section__form" [formGroup]="loginForm" autocomplete = "off">
      <div fxLayout="column wrap" fxLayoutGap="10px">
        <mat-radio-group aria-label="Select an option" formControlName="loginType" fxLayoutGap="30px">
          <mat-radio-button value="admin" checked="true">Login as Admin</mat-radio-button>
          <mat-radio-button value="quarantine_manager">Login as Quarantine Manager</mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="outline">
          <input formControlName="username" matInput placeholder="User Name">
          <mat-error *ngIf="loginForm.controls.username.errors?.required">
            User Name is required</mat-error>
          <mat-error *ngIf="loginForm.controls.username.errors?.pattern">
            User Name address is not valid</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input formControlName="password" type="password" matInput placeholder="Password">
          <mat-error *ngIf="loginForm.controls.password.errors?.required">
            Password is required</mat-error>
          <mat-error *ngIf="loginForm.controls.password.errors?.pattern">
            Password length should be between 5 to 20 characters and should contain atleast 3 digits (number, characters, special characters allowed: @$.!%*_#?&)</mat-error>
        </mat-form-field>
        <button mat-raised-button (click)="onLogIn()" [ngClass]="{'disabled' : !loginForm.valid}" type="submit">Login</button>
      </div>
    </form>
    <div class="container_button">
    </div>
  </div>
  <!-- </div> -->
</div>
  