@import 'variables';

.__row{
    display: table;
    width: 100%;
    
    &:not(:last-child){
        margin-bottom: 1rem;
    }
    .__col{        
        display: table-cell; 
    }
    
    .w10{
        width: 10%;
    }
    .w20{
        width: 20%;
    }
    .w30{
        width: 30%;
    }
    .w40{
        width: 40%;
    }
    .w50{
        width: 50%;
    }
    .w60{
        width: 60%;
    }
    .w70{
        width: 70%;
    }
}