//colors
$color-grey-dark: #4d4d4d;
$color-grey-light: #d4d4d4;
$color-white: #fff;
$button-color-grey: #444444;
$color-radio-button-grey: #535353;
$color-off-white: #f7f7f7;
$border-color-grey-light: #707070;
$input-text-color-grey-light: #A8A8A8;
$no-margin-padding: 0;
$table-header-color-light-blue: #F1F9FF;
$color-off-white2: #f2f2f2;
$color-blue-light: #3A73DB;
$page-background-color: #F3F3F3;
$color-blue: #4485FD;
$color-red: #FF4701;


//header
$header-height-main: 6.5rem;
$color-header-background: #244787;
$padding-left-right: 6.85rem;
//grid
$grid-width: 114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;

//table
$table-header-height: 40px;
$paginator-font-size: 14px;
$table-header-font-size: 16px;

//padding
$padding-header-bottom: 3rem;

//bold
.bold{
    font-weight: 700;
}
$border-radius: 5px;
$page-default-padding: 2.5rem 5rem;
.color_blue {
  color: $color-blue-light;
}
.color_white {
  color: $color-white;
}
.bg_color_blue {
  background-color: $color-blue-light;
}
.background_image {
  width: 100%;
  min-height: 38rem;
  height: 38rem;
  position: absolute;
}
.background_image_circle {
  width: 78rem;
  min-height: 63rem;
  height: 63rem;
  position: absolute;
  right: 0;
}
.color_red {
  color: $color-red;
}
.z_index {
  z-index: 1;
}