/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-style: normal;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body { 
    height: 100%; 
    font-family: 'Segoe UI', sans-serif;
}

