/* You can add global styles to this file, and also import other style files */
/* @font-face {
    font-family: 'MyWebFont';
    src: url('fonts/Segoe_UI.ttf')  format('truetype') format('truetype'); 
    font-weight: 400;
    font-style: normal;
} 

@font-face {
    font-family: "MyWebFont";
    src: url('fonts/Segoe_UI_Bold.ttf');
    font-weight: bold;
} 

@font-face {
    font-family: "MyWebFont";
    src: url('fonts/Segoe_UI_Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: "MyWebFont";
    src: url('fonts/Segoe_UI_Bold_Italic.ttf');
    font-weight: bold;
    font-style: italic;
} */

@import 'grid';
@import 'mediaquery';
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-style: normal;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body { 
    height: 100%; 
    font-family: 'Segoe_UI', sans-serif;
}

.d__inline-block{
    display: inline-block!important;
}

.d-table{
    display: table;
}

.d-cell{
    display: table-cell;
}

.mat-table, .mat-paginator, .mat-input-element, .mat-raised-button, .mat-tab-label,
.mat-radio-button, .mat-tab-group, .mat-form-field {
    font-family: "Segoe_UI", sans-serif;
}
.noWrap{
    white-space: nowrap;
}

.textLeft {
    text-align: left!important;
}
.bold {
    font-weight: bold;
}
.width_100 {
    width: 100%;
}

.light-blue-text{
    color: $color-blue-light;
}

.dark-blue-text{
    color: $color-blue-dark;
}