@import 'variables';

.monitor{
    margin-top: 2rem;
    position: relative;
    &__content{   
        // width: auto;
        &-photo{
            vertical-align: middle;
            .icon{
                color: $color-grey-light;
                font-size: 4.5rem;
                display: inline;
            }
        }

        &-details{
            vertical-align: middle;
            text-align: right;
            .text-top{
                font-size: 1.4rem;
                font-weight: normal;
                color: $color-grey-dark;
                display: inline-block;
            }
            .text-bottom{
                text-align: right;
                font-size: 1.4rem;
                font-weight: normal;
                color: $color-grey-dark;
                display: inline-block;
                span{
                    .mat-icon{
                        position: relative;                    
                        font-size: 1.5rem;
                        top: .3rem;   
                        text-align: left;                 
                        &.zone{
                            font-size: 1.8rem;
                        }
                    }
                }
                
            }
            
        }
    }

    &__casses{
        vertical-align: middle;
        float: right;
        .circle{
            width: 5.5rem;
            height: 5.5rem;
            border-radius: 50%;
            background-color: $color-off-white2;
            h2{
                text-align: center;
                font-size: 1rem;
                color:$color-grey-dark;
                font-weight: 400;
                &:first-child{
                    font-size: 1.4rem;
                    font-weight: 700;
                    padding-top: 1.25rem;
                }
            }
        }
    }

    &__assignBtn{        
        vertical-align: middle;
        cursor: pointer;
        span{
            float: right;
            h2{                
                background-color: $color-grey-dark;
                padding: .8rem 1.2rem;
                color: $color-white;
                font-size: 1.4rem;
                font-weight: 100;
                display: inline-block;
            }
        }        
        
    }

    .popup{
        &__message{
            font-size: 1.4rem;
            font-weight: 400;
            text-align: center;
            color: $color-grey-dark;
        }

        &__buttons{
            text-align: center;
            margin-top: 5rem;
            a{            
                padding: .8rem 3.5rem;            
                text-align: center;
                border: 1px solid #707070;
                font-size: 1.2rem;
                font-weight: 100;
                text-decoration: none;
                cursor: pointer;
            }
            &__no{
                padding: 0 1rem;
                .no{
                    background-color: $color-white;
                    color: $color-grey-dark;
                }
            }
            &__yes{
                padding: 0 1rem;
                .yes{
                    background-color: $color-grey-dark;
                    color: $color-white;
                }
            }
            
        }

        
    }
}