<header></header>
<img class="background_image_circle" src="./assets/images/admin_create_new_user_bg.png">
<div class="monitor_details" fxFlex="100" fxLayout="column" fxLayoutGap="20px">
  <div class="monitor_intro" fxLayoutAlign="start start" fxFlex="100" fxLayout="row" fxLayoutGap="10px">
    <img src="./assets/images/arrow_right_white.svg">
    <div fxLayout="column" fxLayoutGap="5px">
      <div class="monitor_name">Ramanathan /</div>
      <div class="monitor_type">Monitor</div>
    </div>
    <div class="monitor_address">Total User of Zone 1, Hinjewadi : 411057</div>
    <div class="monitor_user_counter">45</div>
  </div>
  <div class="monitor_tabs" fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
    <mat-tab-group dynamicHeight fxFlex="100">
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab_color_red">Critical
          <span class="monitor_tabs_badge tab_color_red_1">15</span></div>
        </ng-template>
        <div class="monitor_details_tabs_section">
          <app-patient-list [patientDetails]="criticalPatientDetails"></app-patient-list>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab_color_orange">Missed Update
          <span class="monitor_tabs_badge tab_color_orange_1">10</span></div>
        </ng-template>
        <div class="monitor_details_tabs_section">
          <app-patient-list [patientDetails]="criticalPatientDetails"></app-patient-list>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab_color_blue">To be reviewed
          <span class="monitor_tabs_badge tab_color_blue_1">20</span></div>
        </ng-template>
        <div class="monitor_details_tabs_section">
          <app-patient-list [patientDetails]="criticalPatientDetails"></app-patient-list>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab_color_grey">All
          <span class="monitor_tabs_badge tab_color_grey_1">45</span></div>
        </ng-template>
        <div class="monitor_details_tabs_section">
          <app-patient-list [patientDetails]="criticalPatientDetails"></app-patient-list>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>