<div class="personal_details_stepper__section_form z_index" fxFlex="100" fxLayout="column" fxLayoutAlign="start center">
<form [formGroup]="personalDetailsFormGroup"  fxLayout="column" fxLayoutGap="20px" fxFlex="100" fxLayoutAlign="start center">
    <div class="section_title bold color_blue width_100 margin_bottom_20">Personal Details</div>
    <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
        <mat-form-field appearance="outline" fxFlex="30">
        <div class="labels">First Name<span class="color_red">*</span></div>
        <input formControlName="firstName" matInput>
        <mat-error *ngIf="personalDetailsFormGroup.controls.firstName.errors?.required">
            First Name is required</mat-error>
        <mat-error *ngIf="personalDetailsFormGroup.controls.firstName.errors?.minlength || personalDetailsFormGroup.controls.firstName.errors?.maxlength">
            First Name should be 1 to 30 characters long</mat-error>
        <mat-error *ngIf="personalDetailsFormGroup.controls.firstName.errors?.whitespace">
            First Name is invalid</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="30">
        <div class="labels">Last Name<span class="color_red">*</span></div>
        <input formControlName="lastName" matInput>
        <mat-error *ngIf="personalDetailsFormGroup.controls.lastName.errors?.required">
            Last Name is required</mat-error>
        <mat-error *ngIf="personalDetailsFormGroup.controls.lastName.errors?.minlength || personalDetailsFormGroup.controls.lastName.errors?.maxlength">
            Last Name should be 1 to 30 characters long</mat-error>
        <mat-error *ngIf="personalDetailsFormGroup.controls.lastName.errors?.whitespace">
            Last Name is invalid</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="30">
            <div class="labels adjust_design">Contact Number<span class="color_red">*</span></div>
            <span matPrefix>+91</span>
            <input formControlName="mobileNumber" matInput>
            <mat-error *ngIf="personalDetailsFormGroup.controls.mobileNumber.errors?.required">
                Contact Number is required</mat-error>
            <mat-error *ngIf="personalDetailsFormGroup.controls.mobileNumber.errors?.pattern">
                Contact Number should be number & 10 characters long</mat-error>
        </mat-form-field>
    </div>
    <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
        <mat-form-field appearance="outline" fxFlex="30">
            <div class="labels adjust_design">Alternate Contact Number<span class="color_red">*</span></div>
            <span matPrefix>+91</span>
            <input formControlName="alternateMobileNumber" matInput>
            <mat-error *ngIf="personalDetailsFormGroup.controls.alternateMobileNumber.errors?.required">
                Alternate Contact Number is required</mat-error>
            <mat-error *ngIf="personalDetailsFormGroup.controls.alternateMobileNumber.errors?.pattern">
                Alternate Contact Number should be number & 10 characters long</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="30">
            <div class="labels">Govt. ID Type</div>
            <mat-select formControlName="governmentIdType">
                <mat-option value="">Select ID type</mat-option>
                <mat-option *ngFor="let idType of governmentIdTypes" [value]="idType">{{idType}}</mat-option>
            </mat-select>
            <mat-error *ngIf="personalDetailsFormGroup.controls.governmentIdType.errors?.required">
                Government ID Type is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="30">
            <div class="labels">Govt. ID Number<span class="color_red">*</span></div>
            <input formControlName="governmentIdNumber" matInput>
            <mat-error *ngIf="personalDetailsFormGroup.controls.governmentIdNumber.errors?.required">
                Govt. ID Number is required</mat-error>
            <mat-error *ngIf="personalDetailsFormGroup.controls.governmentIdNumber.errors?.minlength || personalDetailsFormGroup.controls.governmentIdNumber.errors?.maxlength">
                Govt. ID Number should be 1 to 30 characters long</mat-error>
            <mat-error *ngIf="personalDetailsFormGroup.controls.governmentIdNumber.errors?.whitespace">
                Govt. ID Number is invalid</mat-error>
        </mat-form-field>
    </div>
    <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
        <mat-form-field appearance="outline" fxFlex="30">
            <div class="labels">Email ID<span class="color_red">*</span></div>
            <input formControlName="email" matInput>
            <mat-error *ngIf="personalDetailsFormGroup.controls.email.errors?.required">
                Email is required</mat-error>
            <mat-error *ngIf="personalDetailsFormGroup.controls.email.errors?.pattern">
                Email address is not valid</mat-error>
        </mat-form-field>  
        <mat-form-field appearance="outline" fxFlex="30">
            <div class="labels">Date of Birth<span class="color_red">*</span></div>
            <input matInput formControlName="dateOfBirth" [max]="currentDate" [matDatepicker]="dp3" disabled>
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
            <mat-error *ngIf="personalDetailsFormGroup.controls.dateOfBirth.errors?.required">
                Date of Birth is required</mat-error>
            <mat-error *ngIf="personalDetailsFormGroup.controls.dateOfBirth.errors?.matDatepickerMax?.max || personalDetailsFormGroup.controls.dateOfBirth.errors?.matDatepickerMax?.min">
                Date of Birth is invalid</mat-error>
        </mat-form-field>
        <div fxFlex="30"></div>
    </div>
    <div class="width_100" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
        <button mat-raised-button (click)="goBack()" type="button">Cancel</button>
        <button mat-raised-button (click)="saveForm()" [ngClass]="{'disabled' : !personalDetailsFormGroup.valid}" type="button">Continue</button>
    </div> 
</form>
</div>