<div class="user_section" fxFlex="100" fxLayout="column">
  <div class="user_section__counter" *ngIf="userSectionDetails.showCount" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="counter__tab" fxFlex="47" fxLayoutAlign="center center" fxLayout="column">
      <div class="tab__text">Total Number of {{userSectionDetails.userType}}</div>
      <div class="tab__counter">{{userSectionDetails.totalUsers}}</div>
    </div>
    <div class="counter__tab" fxFlex="47" fxLayoutAlign="center center" fxLayout="column">
      <div class="tab__text">Number of Zones</div>
      <div class="tab__counter">{{userSectionDetails.totalZones}}</div>
    </div>
  </div>
  <div class="user_section__filters" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
    <div *ngIf="!userSectionDetails.searchByPincode" class="filters__search" fxLayoutAlign="start center">
      <input matInput placeholder="Search here..." [(ngModel)]="searchModel" fxFlex="100">
      <button mat-raised-button (click)="searchTable(searchModel)" type="submit">
        <img src="./assets/images/arrow_right.svg">
        Go
      </button>
    </div>
    <div *ngIf="userSectionDetails.searchByPincode" class="filters__search" fxLayoutAlign="start center">
      <input matInput placeholder="Search pin code..." [(ngModel)]="searchPincodeModel" fxFlex="100">
      <button mat-raised-button (click)="searchTable(searchPincodeModel)" type="submit">
        <img src="./assets/images/arrow_right.svg">
        Go
      </button>
    </div>
    <div class="filters__filter" fxLayoutAlign="end center" fxLayoutGap="5px">
      <button *ngIf="userSectionDetails.enrollNewUser" mat-raised-button (click)="enrollNewUser()" type="submit">
        Enroll new user
      </button>
      <button mat-button (click)="showFilters()" type="submit">
        <img src="./assets/images/filter.svg">
        Filter
      </button>
      <!-- <img src="./assets/images/filter.svg">
      <div class="filter_text">Filter</div> -->
    </div>
  </div>
  <div class="table_section">
    <div class="table_section__container">
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="200px" fxLayoutAlign="center center">
            Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element" fxLayout="row" fxLayoutGap="10px" fxFlex="200px">
            <img class="user_icon" src="./assets/images/user_circle.svg">
            <div>
              <div>{{element?.firstName}} {{element?.lastName}}</div>
              <div>ID: {{element?.id}}</div>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="mobileNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="200px">
            Contact Number
          </mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="200px">{{element?.mobileNumber}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="200px">
            Mail ID
          </mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="200px">{{element?.email}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="zone">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="200px">
            Zone
          </mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="200px">{{element?.zone}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="monitor">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="200px">
            Monitor Assigned
          </mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="200px">{{element?.monitorAssigned}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="200px"></mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="200px">
            <button mat-button class="update_button" (click)="viewDetails(element)">View Details</button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <app-no-data-available *ngIf="!isDataAvailable && this.userTableData.length === 0"></app-no-data-available>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <mat-paginator showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
