<div class="user_section" fxFlex="100" fxLayout="column">
  <div class="user_section__counter" *ngIf="userSectionDetails.showCount" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="counter__tab" fxFlex="47" fxLayoutAlign="center center" fxLayout="column">
      <div class="tab__text">Total Number of {{userSectionDetails.userType}}</div>
      <div class="tab__counter color_blue">{{userSectionDetails.totalUsers}}</div>
    </div>
    <div class="counter__tab" fxFlex="47" fxLayoutAlign="center center" fxLayout="column">
      <div class="tab__text">Number of Zones</div>
      <div class="tab__counter">{{userSectionDetails.totalZones}}</div>
    </div>
  </div>
  <div class="user_section__filters" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
    <div *ngIf="!userSectionDetails.searchByPincode" class="filters__search" fxLayoutAlign="start center">
      <input matInput placeholder="Search here..." [(ngModel)]="searchModel" fxFlex="100">
      <button class="color_white bg_color_blue" mat-raised-button (click)="searchTable(searchModel)" type="submit">
        <img src="./assets/images/arrow_right_white.svg">
        Go
      </button>
    </div>
    <div *ngIf="userSectionDetails.searchByPincode" class="filters__search" fxLayoutAlign="start center">
      <input matInput placeholder="Search pin code..." [(ngModel)]="searchPincodeModel" fxFlex="100">
      <button class="color_white bg_color_blue" mat-raised-button (click)="searchTable(searchPincodeModel)" type="submit">
        <img src="./assets/images/arrow_right_white.svg">
        Go
      </button>
    </div>
    <div class="filters__filter" fxLayoutAlign="end center" fxLayoutGap="5px">
      <button class="color_white" *ngIf="userSectionDetails.enrollNewUser" mat-raised-button (click)="enrollNewUser()" type="submit">
        Enroll new user
      </button>
      <button class="color_white" mat-button (click)="showFilters()" type="submit">
        <img src="./assets/images/filter_white.svg">
        Filter
      </button>
      <button class="color_white" mat-button (click)="refreshList()" type="submit">
        <img src="./assets/images/update_icon.svg">
        Refresh
      </button>
    </div>
  </div>
  <div class="table_section">
    <div class="table_section__container">
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="200px" fxLayoutAlign="left center">
            Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element" fxLayoutAlign="start center" fxFlex="200px"><div class="trim_text">{{element?.firstName}} {{element?.lastName}}</div></mat-cell>
        </ng-container>
        <ng-container matColumnDef="idNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="150px">
            ID Number
          </mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="150px"><div class="trim_text">{{element?.id}}</div></mat-cell>
        </ng-container>
        <ng-container matColumnDef="contactNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="200px">
            Contact Number
          </mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="200px"><div class="trim_text">{{element?.mobileNumber}}</div></mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="200px">
            Mail ID
          </mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="200px"><div class="trim_text">{{element?.email}}</div></mat-cell>
        </ng-container>
        <ng-container matColumnDef="zone">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="200px">
            Zone
          </mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="200px"><div class="trim_text">{{element?.zone}}</div></mat-cell>
        </ng-container>
        <ng-container matColumnDef="monitor">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="200px">
            Monitor Assigned
          </mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="200px"><div class="trim_text">{{element?.monitorAssigned}}</div></mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="200px"></mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="200px">
            <button mat-button class="update_button color_blue" (click)="viewDetails(element)">View details</button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <app-no-data-available *ngIf="!isDataAvailable"></app-no-data-available>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <mat-paginator showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
