<header></header>
<img class="background_image_circle" src="./assets/images/admin_create_new_user_bg.png">
<div class="patient_register" fxFlex="100" fxLayout="column" fxLayoutAlign="start center">
  <div fxFlex="100" fxLayout="row" fxLayoutAlign="end center" class="z_index width_100">
    <div class="color_red">*Mandatory fields</div>
  </div>
  <mat-horizontal-stepper labelPosition="bottom" linear #stepper>
    <mat-step [stepControl]="personalDetailsFormGroup" [editable]="isEditable">
      <ng-template matStepLabel>Personal Details</ng-template>
      <app-personal-details-stepper (previousStep)="cancelFlow()" (personalFormDetails)="savePersonalDetails($event)"></app-personal-details-stepper>
    </mat-step>
    <mat-step [stepControl]="healthStatusFormGroup" [editable]="isEditable">
      <ng-template matStepLabel>Health Status</ng-template>
      <app-health-status-stepper (previousStep)="goBack()" (healthStatusForm)="saveHealthStatus($event)"></app-health-status-stepper>
    </mat-step>
    <mat-step [stepControl]="addressFormGroup" [editable]="isEditable">
      <ng-template matStepLabel>Address</ng-template>
      <app-address-stepper (previousStep)="goBack()" (addressDetails)="saveAddress($event)"></app-address-stepper>
    </mat-step>
    <mat-step [stepControl]="assignMonitorFormGroup" [editable]="isEditable">
      <ng-template matStepLabel>Assign Monitor</ng-template>
      <app-assign-monitor-stepper (previousStep)="goBack()" (monitorDetails)="saveMonitor($event)"></app-assign-monitor-stepper>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<popup [show]="showPopup" [closeBtn]="false" [backdropClose]="false">
  <div class="popup-content">
      <span *ngIf="isSuccess">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 100.84 100.84"><defs><style>.a{fill:#0ec173;}</style></defs><g transform="translate(-5 -5)"><path class="a" d="M55.42,5a50.42,50.42,0,1,0,50.42,50.42A50.424,50.424,0,0,0,55.42,5ZM80.854,42.2,48.921,74.131a2.166,2.166,0,0,1-3.137,0L30.1,58.445a2.218,2.218,0,1,1,3.137-3.137L47.353,69.426,77.717,39.062A2.218,2.218,0,0,1,80.854,42.2Z"/></g></svg>
      </span>
      <span *ngIf="!isSuccess">
        <svg fill="#fc323c" height="38" viewBox="0 0 24 24" width="38" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z"/>
    </svg></span>
      <p class="success" *ngIf="isSuccess">Success!</p>
      <p class="success" *ngIf="!isSuccess">Failed!</p>
      <p class="message">{{popupMessage}}</p>
      <!-- <a class="popup-content__button" (click)="popupDone()">Done</a> -->
  </div>
</popup>