<div class="details">
    <div class="details__header">
        <h2 class="details__header-title d__inline-block">Personal Details</h2>
        <a class="details__header-editBtn d__inline-block">
            <mat-icon class="editIcon">edit</mat-icon>
            <span>Edit</span>
        </a>
    </div>
    <div class="details__photo d-table">
        <div class="details__photo__circleIcon d-cell">
            <mat-icon class="icon">account_circle</mat-icon>
        </div>
        <div class="details__photo__nameId d-cell">
            <h2 class="name">Atun Kulkarni</h2>
            <h2 class="id">ID:3535225</h2>
        </div>
    </div>
    <div class="details__contact-details">
        <div class="__row">
            <div class="__col w30">Contact Number</div>
            <div class="__col w70">8798765434</div>
        </div>
        <div class="__row">
            <div class="__col w30">Mail ID</div>
            <div class="__col w70">atulkulkarni@gmail.com</div>
        </div>
        <div class="__row">
            <div class="__col w30">Zone</div>
            <div class="__col w70">Zone 1, 545355</div>
        </div>
        <div class="__row">
            <div class="__col w30">Address</div>
            <div class="__col w70">Plot 45-46, Phase 2, Electronic City, Bangalore, Karnataka 560100</div>
        </div>
    </div>
</div>