@import "variables";
.quarantine_manager_dashboard {
  margin: $header-height-main $no-margin-padding $no-margin-padding;
  padding: $page-default-padding;
  font-family: 'Segoe_UI', sans-serif;
  background-color: $color-white;

  .quarantine_manager_dashboard__details {
    width: 100%;
    z-index: 1;
    margin: 3rem 0 4.5rem 0;
    flex: 1 1 auto !important;
    .quarantine_manager_address {
      color: $color-white;
      font-size: 1.4rem;
      img {
        width: 2rem;
      }
    }
    .quarantine_manager_filter {
      .mat-button:nth-child(1) {
        font-size: 1.6rem;
        font-weight: normal;
        img {
          width: 1.6rem;
          margin-right: 0.5rem;
        }
      }
      .filters__search {
        .mat-input-element {
          padding: 0.9rem 2rem;
          border: 0px;
          color: $input-text-color-grey-light;
          font-size: $table-header-font-size;
          outline-offset: 0px;
          outline: -webkit-focus-ring-color auto 0px;
          background-color: $color-white;
        }
        img {
          width: 1.5rem;
          margin-right: 2px;
        }
        button {
          background-color: $color-grey-dark;
          border-radius: 0px;
        }
      }
    }
  }
  .quarantine_manager_dashboard__tabs {
    width: 100%;
    ::ng-deep .mat-tab-header {
      border-bottom: 0px;
      .mat-tab-labels {
        place-content: center space-between;
      }
    }
    .mat-tab-group {
      ::ng-deep .mat-tab-label {
        opacity: 1;
        background-color: $color-white;
        height: 14rem;
        width: 26rem;
        box-shadow: 0px 1px 20px #0000001A;
        border-radius: 1rem;
        font-size: 1.6rem;
        margin-bottom: 2rem;
      }
      ::ng-deep .mat-tab-label:nth-child(1), ::ng-deep .mat-tab-label:nth-child(2), ::ng-deep .mat-tab-label:nth-child(3) {
        margin-right: 3rem;
      }
      ::ng-deep .mat-tab-label-active:nth-child(1) {
        background-color : $color-dark-red;
        &:after{
          top: 554px;
          left: 311px;
          width: 43px;
          height: 27px;
          transform: matrix(-1, 0, 0, -1, 0, 0);
          background: #D22030 0% 0% no-repeat padding-box;
          opacity: 1;
        }
      }
      ::ng-deep .mat-tab-label-active:nth-child(2) {
        background-color: $color-orange;
      }
      ::ng-deep .mat-tab-label-active:nth-child(3) {
        background-color: $color-blue;
      }
      ::ng-deep .mat-tab-label-active:nth-child(4) {
        background-color: $color-grey-dark;
      }
      ::ng-deep .mat-tab-label-active .mat-tab-label-content {
        font-weight: bold;
      }
      ::ng-deep .mat-tab-label-active .tab_color_red, ::ng-deep .mat-tab-label-active .tab_color_red_1,
      ::ng-deep .mat-tab-label-active .tab_color_orange, ::ng-deep .mat-tab-label-active .tab_color_orange_1,
      ::ng-deep .mat-tab-label-active .tab_color_blue, ::ng-deep .mat-tab-label-active .tab_color_blue_1,
      ::ng-deep .mat-tab-label-active .tab_color_grey, ::ng-deep .mat-tab-label-active .tab_color_grey_1
      {
        color: $color-white;
      }
      ::ng-deep .mat-ink-bar {
        display: none;
      }
      ::ng-deep .tab_color_red_1 {
        color: $color-dark-red;
      }
      ::ng-deep .tab_color_orange_1 {
        color: $color-orange;
      }
      ::ng-deep .tab_color_blue_1 {
        color: $color-blue;
      }
      ::ng-deep .tab_color_grey_1 {
        color: $color-blue-light;
      }
      ::ng-deep .quarantine_tabs_badge {
        font-size: 5rem;
        padding: 1rem 0;
        font-weight: bold;
      }
    }
  }
}
