<div class="address_stepper__section_form z_index" fxLayoutGap="20px" fxFlex="100" fxLayout="column" fxLayoutAlign="start center">
    <div class="width_100" fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
        <div fxLayout="column" fxLayoutGap="20px" fxFlex="100" fxLayoutAlign="start center">
            <form [formGroup]="quarantineAddressFormGroup" fxLayout="column" fxLayoutGap="20px" fxFlex="100" fxLayoutAlign="start center">
                <div class="section_title bold color_blue width_100 margin_bottom_20">Quarantine Address</div>
                <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">House No.<span class="color_red">*</span></div>
                        <input formControlName="houseNumber" matInput>
                        <mat-error *ngIf="quarantineAddressFormGroup.controls.houseNumber.errors?.required || quarantineAddressFormGroup.controls.houseNumber.errors?.whitespace">
                            House No. is required</mat-error>
                        <mat-error *ngIf="quarantineAddressFormGroup.controls.houseNumber.errors?.minlength || quarantineAddressFormGroup.controls.houseNumber.errors?.maxlength">
                            House No. should be 1 to 30 characters long</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">Street Name<span class="color_red">*</span></div>
                        <input formControlName="streetName" matInput>
                        <mat-error *ngIf="quarantineAddressFormGroup.controls.streetName.errors?.required || quarantineAddressFormGroup.controls.streetName.errors?.whitespace">
                            Street Name is required</mat-error>
                        <mat-error *ngIf="quarantineAddressFormGroup.controls.streetName.errors?.minlength || quarantineAddressFormGroup.controls.streetName.errors?.maxlength">
                            Street Name should be 1 to 100 characters long</mat-error>
                    </mat-form-field>
                </div>
                <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">Area<span class="color_red">*</span></div>
                        <input formControlName="area" matInput appHost>
                        <mat-error *ngIf="quarantineAddressFormGroup.controls.area.errors?.required || quarantineAddressFormGroup.controls.area.errors?.whitespace">
                            Area is required</mat-error>
                        <mat-error *ngIf="quarantineAddressFormGroup.controls.area.errors?.minlength || quarantineAddressFormGroup.controls.area.errors?.maxlength">
                            Area should be 1 to 100 characters long</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">City<span class="color_red">*</span></div>
                        <input formControlName="city" matInput>
                        <mat-error *ngIf="quarantineAddressFormGroup.controls.city.errors?.required
                            || quarantineAddressFormGroup.controls.city.errors?.whitespace
                            || quarantineAddressFormGroup.controls.city.errors?.pattern
                            || quarantineAddressFormGroup.controls.city.errors?.minlength
                            || quarantineAddressFormGroup.controls.city.errors?.maxlength">
                            City is required, should be alphabets (max 30 characters)</mat-error>
                    </mat-form-field>
                </div>
                <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">State<span class="color_red">*</span></div>
                        <input formControlName="state" matInput>
                        <mat-error *ngIf="quarantineAddressFormGroup.controls.state.errors?.required
                            || quarantineAddressFormGroup.controls.state.errors?.whitespace
                            || quarantineAddressFormGroup.controls.state.errors?.pattern
                            || quarantineAddressFormGroup.controls.state.errors?.minlength
                            || quarantineAddressFormGroup.controls.state.errors?.maxlength">
                            State is required, should be alphabets (max 30 characters)</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">Pincode<span class="color_red">*</span></div>
                        <input formControlName="pincode" matInput>
                        <mat-error *ngIf="quarantineAddressFormGroup.controls.pincode.errors?.required
                            || quarantineAddressFormGroup.controls.pincode.errors?.whitespace
                            || quarantineAddressFormGroup.controls.pincode.errors?.pattern
                            || quarantineAddressFormGroup.controls.pincode.errors?.minlength
                            || quarantineAddressFormGroup.controls.pincode.errors?.maxlength">
                            Pin code is required, should be numbers and 6 characters long</mat-error>
                    </mat-form-field>
                </div>
                <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">Zone<span class="color_red">*</span></div>
                        <input formControlName="zone" matInput>
                        <mat-error *ngIf="quarantineAddressFormGroup.controls.zone.errors?.required
                            || quarantineAddressFormGroup.controls.zone.errors?.whitespace
                            || quarantineAddressFormGroup.controls.zone.errors?.pattern
                            || quarantineAddressFormGroup.controls.zone.errors?.minlength
                            || quarantineAddressFormGroup.controls.zone.errors?.maxlength">
                            Zone is required (max 30 characters)</mat-error>
                    </mat-form-field>
                </div>
            </form>

            <div [ngClass]="{'disabled' : !quarantineAddressFormGroup.valid}" class="width_100" fxLayout="column wrap" fxLayoutAlign="space-between start" fxLayoutGap="10px" fxFlex="100">
                <mat-checkbox (change)="checkCurrentAddress(markCurrentAddress)" [(ngModel)]="markCurrentAddress">Mark same as current address</mat-checkbox>
                <mat-checkbox (change)="checkPermanentAddress_1(markPermanentAddress)" [(ngModel)]="markPermanentAddress">Mark same as permanent address</mat-checkbox>
            </div>


            <form [ngClass]="{'disabled' : markCurrentAddress}"  [formGroup]="currentAddressFormGroup" fxLayout="column" fxLayoutGap="20px" fxFlex="100" fxLayoutAlign="start center">
                <div class="section_title bold color_blue width_100 margin_bottom_20">Current Address</div>
                <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">House No.<span class="color_red">*</span></div>
                        <input formControlName="houseNumber" matInput>
                        <mat-error *ngIf="currentAddressFormGroup.controls.houseNumber.errors?.required || currentAddressFormGroup.controls.houseNumber.errors?.whitespace">
                            House No. is required</mat-error>
                        <mat-error *ngIf="currentAddressFormGroup.controls.houseNumber.errors?.minlength || currentAddressFormGroup.controls.houseNumber.errors?.maxlength">
                            House No. should be 1 to 30 characters long</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">Street Name<span class="color_red">*</span></div>
                        <input formControlName="streetName" matInput>
                        <mat-error *ngIf="currentAddressFormGroup.controls.streetName.errors?.required || currentAddressFormGroup.controls.streetName.errors?.whitespace">
                            Street Name is required</mat-error>
                        <mat-error *ngIf="currentAddressFormGroup.controls.streetName.errors?.minlength || currentAddressFormGroup.controls.streetName.errors?.maxlength">
                            Street Name should be 1 to 100 characters long</mat-error>
                    </mat-form-field>
                </div>
                <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">Area<span class="color_red">*</span></div>
                        <input formControlName="area" matInput>
                        <mat-error *ngIf="currentAddressFormGroup.controls.area.errors?.required || currentAddressFormGroup.controls.area.errors?.whitespace">
                            Area is required</mat-error>
                        <mat-error *ngIf="currentAddressFormGroup.controls.area.errors?.minlength || currentAddressFormGroup.controls.area.errors?.maxlength">
                            Area should be 1 to 100 characters long</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">City<span class="color_red">*</span></div>
                        <input formControlName="city" matInput>
                        <mat-error *ngIf="currentAddressFormGroup.controls.city.errors?.required
                            || currentAddressFormGroup.controls.city.errors?.whitespace
                            || currentAddressFormGroup.controls.city.errors?.pattern
                            || currentAddressFormGroup.controls.city.errors?.minlength
                            || currentAddressFormGroup.controls.city.errors?.maxlength">
                            City is required, should be alphabets (max 30 characters)</mat-error>
                    </mat-form-field>
                </div>
                <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">State<span class="color_red">*</span></div>
                        <input formControlName="state" matInput>
                        <mat-error *ngIf="currentAddressFormGroup.controls.state.errors?.required
                            || currentAddressFormGroup.controls.state.errors?.whitespace
                            || currentAddressFormGroup.controls.state.errors?.pattern
                            || currentAddressFormGroup.controls.state.errors?.minlength
                            || currentAddressFormGroup.controls.state.errors?.maxlength">
                            State is required, should be alphabets (max 30 characters)</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">Pincode<span class="color_red">*</span></div>
                        <input formControlName="pincode" matInput>
                        <mat-error *ngIf="currentAddressFormGroup.controls.pincode.errors?.required
                            || currentAddressFormGroup.controls.pincode.errors?.whitespace
                            || currentAddressFormGroup.controls.pincode.errors?.pattern
                            || currentAddressFormGroup.controls.pincode.errors?.minlength
                            || currentAddressFormGroup.controls.pincode.errors?.maxlength">
                            Pin code is required, should be numbers and 6 characters long</mat-error>
                    </mat-form-field>
                </div>
                <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">Zone<span class="color_red">*</span></div>
                        <input formControlName="zone" matInput>
                        <mat-error *ngIf="currentAddressFormGroup.controls.zone.errors?.required
                            || currentAddressFormGroup.controls.zone.errors?.whitespace
                            || currentAddressFormGroup.controls.zone.errors?.pattern
                            || currentAddressFormGroup.controls.zone.errors?.minlength
                            || currentAddressFormGroup.controls.zone.errors?.maxlength">
                            Zone is required (max 30 characters)</mat-error>
                    </mat-form-field>
                </div>
            </form>
            
            <div [ngClass]="{'disabled' : (!currentAddressFormGroup.valid || markPermanentAddress)}" class="width_100" fxLayout="column wrap" fxLayoutAlign="start start" fxLayoutGap="10px" fxFlex="100">
                <mat-checkbox (change)="checkPermanentAddress_2(markPermanentAddress2)" [(ngModel)]="markPermanentAddress2">Mark same as permanent address</mat-checkbox>
            </div>

            <form [ngClass]="{'disabled' : (markPermanentAddress || markPermanentAddress2)}" [formGroup]="permanentAddressFormGroup" fxLayout="column" fxLayoutGap="20px" fxFlex="100" fxLayoutAlign="start center">
                <div class="section_title bold color_blue width_100 margin_bottom_20">Permanent Address</div>
                <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">House No.<span class="color_red">*</span></div>
                        <input formControlName="houseNumber" matInput>
                        <mat-error *ngIf="permanentAddressFormGroup.controls.houseNumber.errors?.required || permanentAddressFormGroup.controls.houseNumber.errors?.whitespace">
                            House No. is required</mat-error>
                        <mat-error *ngIf="permanentAddressFormGroup.controls.houseNumber.errors?.minlength || permanentAddressFormGroup.controls.houseNumber.errors?.maxlength">
                            House No. should be 1 to 30 characters long</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">Street Name<span class="color_red">*</span></div>
                        <input formControlName="streetName" matInput>
                        <mat-error *ngIf="permanentAddressFormGroup.controls.streetName.errors?.required || permanentAddressFormGroup.controls.streetName.errors?.whitespace">
                            Street Name is required</mat-error>
                        <mat-error *ngIf="permanentAddressFormGroup.controls.streetName.errors?.minlength || permanentAddressFormGroup.controls.streetName.errors?.maxlength">
                            Street Name should be 1 to 100 characters long</mat-error>
                    </mat-form-field>
                </div>
                <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">Area<span class="color_red">*</span></div>
                        <input formControlName="area" matInput>
                        <mat-error *ngIf="permanentAddressFormGroup.controls.area.errors?.required || permanentAddressFormGroup.controls.area.errors?.whitespace">
                            Area is required</mat-error>
                        <mat-error *ngIf="permanentAddressFormGroup.controls.area.errors?.minlength || permanentAddressFormGroup.controls.area.errors?.maxlength">
                            Area should be 1 to 100 characters long</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">City<span class="color_red">*</span></div>
                        <input formControlName="city" matInput>
                        <mat-error *ngIf="permanentAddressFormGroup.controls.city.errors?.required
                            || permanentAddressFormGroup.controls.city.errors?.whitespace
                            || permanentAddressFormGroup.controls.city.errors?.pattern
                            || permanentAddressFormGroup.controls.city.errors?.minlength
                            || permanentAddressFormGroup.controls.city.errors?.maxlength">
                            City is required, should be alphabets (max 30 characters)</mat-error>
                    </mat-form-field>
                </div>
                <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">State<span class="color_red">*</span></div>
                        <input formControlName="state" matInput>
                        <mat-error *ngIf="permanentAddressFormGroup.controls.state.errors?.required
                            || permanentAddressFormGroup.controls.state.errors?.whitespace
                            || permanentAddressFormGroup.controls.state.errors?.pattern
                            || permanentAddressFormGroup.controls.state.errors?.minlength
                            || permanentAddressFormGroup.controls.state.errors?.maxlength">
                            State is required, should be alphabets (max 30 characters)</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">Pincode<span class="color_red">*</span></div>
                        <input formControlName="pincode" matInput>
                        <mat-error *ngIf="permanentAddressFormGroup.controls.pincode.errors?.required
                            || permanentAddressFormGroup.controls.pincode.errors?.whitespace
                            || permanentAddressFormGroup.controls.pincode.errors?.pattern
                            || permanentAddressFormGroup.controls.pincode.errors?.minlength
                            || permanentAddressFormGroup.controls.pincode.errors?.maxlength">
                            Pin code is required, should be numbers and 6 characters long</mat-error>
                    </mat-form-field>
                </div>
                <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">Zone<span class="color_red">*</span></div>
                        <input formControlName="zone" matInput>
                        <mat-error *ngIf="permanentAddressFormGroup.controls.zone.errors?.required
                            || permanentAddressFormGroup.controls.zone.errors?.whitespace
                            || permanentAddressFormGroup.controls.zone.errors?.pattern
                            || permanentAddressFormGroup.controls.zone.errors?.minlength
                            || permanentAddressFormGroup.controls.zone.errors?.maxlength">
                            Zone is required (max 30 characters)</mat-error>
                    </mat-form-field>
                </div>
            </form>
            <form [formGroup]="quarantineTypeFormGroup" fxLayout="column" fxLayoutGap="20px" fxFlex="100" fxLayoutAlign="start center">
                <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="40">
                        <div class="labels">Quarantine Type</div>
                        <mat-select formControlName="quarantineType">
                            <mat-option value="">Select type</mat-option>
                            <mat-option *ngFor="let idType of quarantineTypes" [value]="idType">{{idType}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="quarantineTypeFormGroup.controls.quarantineType.errors?.required">
                            Quarantine Type is required</mat-error>
                    </mat-form-field>
                </div>
            </form>
        </div>
        <div class="map_section" fxLayout="column" fxLayoutGap="20px" fxFlex="40" fxLayoutAlign="start center">
           <app-map (addressChange)="addressChange($event)"></app-map>
        </div>
    </div>
    <div class="width_100 flex_auto" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
        <button mat-raised-button (click)="goBack()" type="button">Previous</button>
        <button mat-raised-button (click)="saveForm()" [ngClass]="{'disabled' : isFormDisabled()}" type="button">Continue</button>
    </div> 
</div>