@import "variables";
.address_stepper__section_form {
  font-family: 'Segoe_UI', sans-serif;
  color: $color-grey-dark;

  .mat-checkbox {
    font-size: 1.2rem;
  }

  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: $color-blue-light;
  }
  .map_section {
    border: 1px solid;    
    height: 50rem;
    margin-left: 5rem;  
    app-map{
      width: 100%;
      height: 100%;
    }  
  }
  .disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

