<div class="health_status_stepper__section_form z_index" fxFlex="100" fxLayout="column" fxLayoutAlign="start center">
  <form [formGroup]="healthStatusFormGroup" fxLayout="column" fxLayoutGap="40px" fxLayoutGap.sm="80px" fxFlex="100" fxLayoutAlign="start center">
      <div class="section_title bold color_blue width_100 margin_bottom_20">Health Status</div>
      <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
          <mat-slide-toggle fxFlex="40" formControlName="fever" class="toggle_section">Do you have a fever? </mat-slide-toggle>
          <mat-form-field appearance="outline" fxFlex="40">
              <div class="labels">What is your temperature?<span class="color_red">*</span></div>
              <span matSuffix>&#8457;</span>
              <input formControlName="temperature" matInput>
              <mat-error *ngIf="healthStatusFormGroup.controls.temperature.errors?.required">
                  Temperature is required</mat-error>
          </mat-form-field>
      </div>
      <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
          <mat-slide-toggle fxFlex="40" formControlName="cough" class="toggle_section">
            Do you have persistent cough (coughing a lot for more than a hour or 3 or more coughing episodes in 24 hours)?
          </mat-slide-toggle>
          <mat-slide-toggle fxFlex="40" formControlName="fatigue" class="toggle_section">
            Are you experiencing unusual fatigue?
          </mat-slide-toggle>
      </div>
      <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
          <mat-slide-toggle fxFlex="40" formControlName="breathing" class="toggle_section">
            Are you experiencing unusual shortness of breathing?
          </mat-slide-toggle>
          <mat-slide-toggle fxFlex="40" formControlName="diarrhea" class="toggle_section">
            Are you experiencing diarrhea?
          </mat-slide-toggle>
      </div>
      <div class="width_100" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px" fxFlex="100">
          <mat-slide-toggle fxFlex="40" formControlName="runnyNose" class="toggle_section">
            Are you have runny nose?
          </mat-slide-toggle>
          <div fxFlex="40"></div>
      </div>
      <div class="width_100" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
          <button mat-raised-button  (click)="goBack()" type="button">Previous</button>
          <button mat-raised-button  (click)="saveForm()" [ngClass]="{'disabled' : !healthStatusFormGroup.valid}" type="button">Continue</button>
      </div> 
  </form>
</div>